@import url('https://fonts.googleapis.com/css?family=Poppins');
body
{
	 background-image: url('../../assets/img/bginterface.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 101% 101%;
 	margin: 0;
	padding:  0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
}
.container
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.container .box
{
	position: relative;
	width: 240px;
	padding: 200px;


	
	margin: 10px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
}
.perso
{
text-align: left;
size: 20px;
background-color: red($color: #000000);
}
img
{
		position: relative;
	width: 400px;
	height: 400px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	font-size: 40px;
	font-weight: 700;
	transition: 1s;
}

.container .box:nth-child(2) .icon
{
		box-shadow: 0 0 0 0 #0A79D8 ;
	background: #0A79D8  ;
}


.container .box .content
{
	position: relative;
	z-index: 1;
	transition: 0.5s;

}
.container .box:hover .content
{
	color: #fff;
}
.container .box .content h3
{
	font-size: 20px;
	margin: 10px 0 ;
	padding: 0;
}
.container .box .content p
{
	margin: 0;
	padding: 0;

}
a 
{
	display: inline-block;
	padding: 10px 20px;
	background: #4E4B4D ;
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	margin-top: 20px;
}