
<header>
    <app-navbar></app-navbar>
</header>
<body>
    <div class="container">
        <div class="box">
            <div class="icon"><img src="../../assets/img/client.png"></div>
                <div class="content">
                        <h3>KYC Personne physique</h3><br>
                                <a [routerLink]="['/KYC/PP']" >Traitement</a><br>
                
            </div>
        </div>
        <div class="box">
            <div class="icon"><img src="../../assets/img/homme.png"></div>
                <div class="content">
                    <h3>KYC Personne morale  </h3><br>
                                <a [routerLink]="['/KYC/PM']" >Traitement</a><br>
                    
            </div>
        </div>
        <div class="box">
            <div class="icon"><img src="../../assets/img/ass.png"></div>
                <div class="content">
                    <h3>KYC Associations</h3><br>
                                <a [routerLink]="['/KYC/ASS']" >Traitement</a>	<br>
            
            </div>
        </div>
        <div class="box">
            <div class="icon"><img src="../../assets/img/ent.png"></div>
                <div class="content">
                    <h3>KYC Profession Libérale/Commerçante</h3>
                                <a [routerLink]="['/KYC/PLC']" >Traitement</a>	<br><br><br><br><br><br>
                
            </div>
        </div>
    </div>
    </body>
    <footer>
        <app-footer></app-footer>
    </footer>